version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: daily
    ignore:
      # ignore Maven APIs/SPIs
      - dependency-name: org.apache.maven:*
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"